.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-header {
  padding: 0;
  border: none;
  background-color: inherit;
  font-size: large;
}
.signup-container {
  display: flex;
  min-height: 93vh;
  background-color: aliceblue;
}
.signup-wrapper {
  max-width: max-content;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: white;
}
.signup-form {
  padding: 40px;
}
